In [1]:
import numpy as np
import pandas as pd
from nltk.tokenize import word_tokenize

In [2]:
s1='The quick brown fox jumps over the lazy white dog.'
s2='the cat chases the mouse and it squeaks loudly'

In [3]:
token=word_tokenize(s1.lower())+ word_tokenize(s2.lower())

In [4]:
tokens = set(token)

In [5]:
df = pd.DataFrame({},index = [1,2],columns = list(tokens))

In [6]:
df;

In [7]:
w1=word_tokenize(s1.lower())

In [8]:
w2=word_tokenize(s2.lower())

In [9]:
df

,jumps,dog,squeaks,cat,loudly,over,brown,the,lazy,white,chases,mouse,it,and,fox,quick,.
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Count Vectorize

In [32]:
from sklearn.feature_extraction.text import CountVectorizer

In [33]:
cv = CountVectorizer()

In [34]:
vect_data = cv.fit_transform([s1, s2])

In [35]:
vals = vect_data.toarray()

In [36]:
cols =cv.get_feature_names_out()

In [37]:
df = pd.DataFrame(vals, columns = cols)
df

,and,brown,cat,chases,dog,fox,it,jumps,lazy,loudly,mouse,over,quick,squeaks,the,white
0,0,1,0,0,1,1,0,1,1,0,0,1,1,0,2,1
1,1,0,1,1,0,0,1,0,0,1,1,0,0,1,2,0

In [38]:
s3 = 'The lazy cat jumps over the quick dog'

In [41]:
vect_data = cv.transform([s3])
vals = vect_data.toarray()
cols =cv.get_feature_names_out()
df = pd.DataFrame(vals, columns = cols)
df

,and,brown,cat,chases,dog,fox,it,jumps,lazy,loudly,mouse,over,quick,squeaks,the,white
0,0,0,1,0,1,0,0,1,1,0,0,1,1,0,2,0

##  Example No 2

In [65]:
from nltk import sent_tokenize
f1 = open("../NLP/India.txt")
data = f1.readlines()
data

['India, officially the Republic of India is a country in South Asia. \n',
 "It is the seventh-largest country by area; the most populous country as of June 2023; and from the time of its independence in 1947, the world's most populous democracy.\n",
 'Bounded by the Indian Ocean on the south, the Arabian Sea on the southwest, and the Bay of Bengal on the southeast, it shares land borders with Pakistan to the west; China, Nepal, and Bhutan to the north; and Bangladesh and Myanmar to the east.\n',
 'In the Indian Ocean, India is in the vicinity of Sri Lanka and the Maldives; its Andaman and Nicobar Islands share a maritime border with Thailand, Myanmar, and Indonesia.']

In [66]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer()

In [68]:
val_data = cv.fit_transform(data)
df = pd.DataFrame(val_data.toarray(),columns=cv.get_feature_names_out())
df

,1947,2023,and,andaman,arabian,area,as,asia,bangladesh,bay,...,southwest,sri,thailand,the,time,to,vicinity,west,with,world
0,0,0,0,0,0,0,0,1,0,0,...,0,0,0,1,0,0,0,0,0,0
1,1,1,1,0,0,1,1,0,0,0,...,0,0,0,4,1,0,0,0,0,1
2,0,0,4,0,1,0,0,0,1,1,...,1,0,0,9,0,3,0,1,1,0
3,0,0,3,1,0,0,0,0,0,0,...,0,1,1,3,0,0,1,0,1,0