In [1]:
s1='The quick brown fox jumps over the lazy white dog.'
s2='the cat chases the mouse and it squeaks loudly'

In [13]:
from sklearn.feature_extraction.text import TfidfTransformer,CountVectorizer
import pandas as pd

In [14]:
cv = CountVectorizer()

In [15]:
word_vector = cv.fit_transform([s1,s2])
tfidf_transformer = TfidfTransformer()
x = tfidf_transformer.fit_transform(word_vector)
x

<2x16 sparse matrix of type '<class 'numpy.float64'>'
	with 17 stored elements in Compressed Sparse Row format>

In [21]:
pd.DataFrame(x.toarray(),columns=cv.get_feature_names_out())

,and,brown,cat,chases,dog,fox,it,jumps,lazy,loudly,mouse,over,quick,squeaks,the,white
0,0.000000,0.315834,0.000000,0.000000,0.315834,0.315834,0.000000,0.315834,0.315834,0.000000,0.000000,0.315834,0.315834,0.000000,0.449436,0.315834
1,0.332872,0.000000,0.332872,0.332872,0.000000,0.000000,0.332872,0.000000,0.000000,0.332872,0.332872,0.000000,0.000000,0.332872,0.473682,0.000000